<div id="confirmAutoTMMDialog">
    <div class="genericConfirmGrid">
        <span class="confirmGridItem confirmWarning"></span>
        <span class="confirmGridItem dialogMessage" id="confirmAutoTmmMessage"></span>
    </div>
</div>
<div class="dialogButtonWrapper">
    <button type="button" class="confirmButton" id="confirmAutoTmmButton">QBT_TR(Yes)QBT_TR[CONTEXT=MainWindow]</button>
    <button type="button" id="cancelAutoTmmButton">QBT_TR(No)QBT_TR[CONTEXT=MainWindow]</button>
</div>

<script>
    "use strict";

    (() => {
        const confirmButton = document.getElementById("confirmAutoTmmButton");
        const cancelButton = document.getElementById("cancelAutoTmmButton");
        const confirmText = document.getElementById("confirmAutoTmmMessage");

        const {
            options: { data: { hashes, enable }, id },
            windowEl,
            overlayEl
        } = window.MUI.Windows.instances["confirmAutoTMMDialog"];

        overlayEl.appendChild(windowEl.querySelector(".dialogButtonWrapper"));

        confirmText.textContent = "QBT_TR(Are you sure you want to enable Automatic Torrent Management for the selected torrent(s)? They may be relocated.)QBT_TR[CONTEXT=confirmAutoTMMDialog]";

        cancelButton.addEventListener("click", (e) => { window.qBittorrent.Client.closeWindow(id); });
        confirmButton.addEventListener("click", (e) => {
            new Request({
                url: "api/v2/torrents/setAutoManagement",
                method: "post",
                data: {
                    hashes: hashes.join("|"),
                    enable: enable
                },
                onSuccess: () => {
                    updateMainData();
                    window.qBittorrent.Client.closeWindow(id);
                },
                onFailure: () => {
                    alert("QBT_TR(Unable to set Auto Torrent Management for the selected torrents.)QBT_TR[CONTEXT=HttpServer]");
                }
            }).send();
        });
    })();
</script>
