<div id="confirmRecheckDialog">
    <div class="genericConfirmGrid">
        <span class="confirmGridItem confirmWarning"></span>
        <span class="confirmGridItem dialogMessage" id="confirmRecheckMessage"></span>
    </div>
</div>
<div class="dialogButtonWrapper">
    <button type="button" class="confirmButton" id="confirmRecheckButton">QBT_TR(Yes)QBT_TR[CONTEXT=MainWindow]</button>
    <button type="button" id="cancelRecheckButton">QBT_TR(No)QBT_TR[CONTEXT=MainWindow]</button>
</div>

<script>
    "use strict";

    (() => {
        const confirmButton = document.getElementById("confirmRecheckButton");
        const cancelButton = document.getElementById("cancelRecheckButton");
        const confirmText = document.getElementById("confirmRecheckMessage");

        const {
            options: { data: { hashes }, id },
            windowEl,
            overlayEl
        } = window.MUI.Windows.instances["confirmRecheckDialog"];

        overlayEl.appendChild(windowEl.querySelector(".dialogButtonWrapper"));

        confirmText.textContent = "QBT_TR(Are you sure you want to recheck the selected torrent(s)?)QBT_TR[CONTEXT=confirmRecheckDialog]";

        cancelButton.addEventListener("click", (e) => { window.qBittorrent.Client.closeWindow(id); });
        confirmButton.addEventListener("click", (e) => {
            new Request({
                url: "api/v2/torrents/recheck",
                method: "post",
                data: {
                    hashes: hashes.join("|"),
                },
                onSuccess: function() {
                    updateMainData();
                    window.qBittorrent.Client.closeWindow(id);
                },
                onFailure: function() {
                    alert("QBT_TR(Unable to recheck torrents.)QBT_TR[CONTEXT=HttpServer]");
                }
            }).send();
        });
    })();
</script>
