<div id="newRSSFolderDialog">
    <div class="genericDialogFlex">
        <label for="folderName">QBT_TR(Folder name:)QBT_TR[CONTEXT=RSSWidget]</label>
        <input type="text" id="folderName" class="pathDirectory">
    </div>
</div>
<div class="dialogButtonWrapper">
    <button type="button" class="confirmButton">QBT_TR(OK)QBT_TR[CONTEXT=MainWindow]</button>
    <button type="button" class="cancelButton">QBT_TR(Cancel)QBT_TR[CONTEXT=MainWindow]</button>
</div>
<script>
    "use strict";

    (() => {
        const { options: { data: { path }, id }, overlayEl } = window.MUI.Windows.instances["newFolder"];

        const newFolderInput = overlayEl.querySelector("#folderName");
        newFolderInput.focus();

        overlayEl.querySelector(".cancelButton").addEventListener("click", (e) => {
            window.qBittorrent.Client.closeWindow(id);
        });
        overlayEl.querySelector(".confirmButton").addEventListener("click", (e) => {
            // check field
            const folderName = newFolderInput.value.trim();
            if (folderName === "") {
                alert("QBT_TR(Name cannot be empty)QBT_TR[CONTEXT=HttpServer]");
                return;
            }

            e.target.disabled = true;

            new Request({
                url: "api/v2/rss/addFolder",
                method: "post",
                data: {
                    path: path ? (path + "\\" + folderName) : folderName
                },
                onSuccess: (response) => {
                    window.qBittorrent.Rss.updateRssFeedList();
                    window.qBittorrent.Client.closeWindow(id);
                },
                onFailure: (response) => {
                    if (response.status === 409)
                        alert(response.responseText);
                    e.target.disabled = false;
                }
            }).send();
        });
        window.qBittorrent.pathAutofill.attachPathAutofill();
    })();
</script>
