/**************************************************************

    Dynamic Table
    v 0.4

**************************************************************/
.altRowColors tbody tr:nth-child(odd of :not(.invisible)) {
    background-color: var(--color-background-default);
}

.dynamicTableDiv table.dynamicTable tbody tr.selected {
    background-color: var(--color-background-blue);
    color: var(--color-text-white);
}

.dynamicTableDiv table.dynamicTable tbody tr:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text-white);
}

#transferList tr:hover {
    cursor: pointer;
}

#transferList img.stateIcon {
    height: 1.3em;
    margin-bottom: -1px;
    vertical-align: middle;
}

tr.dynamicTableHeader {
    cursor: pointer;
}

.dynamicTable {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 1%;
}

.dynamicTable th {
    border-right: 1px solid var(--color-border-1);
    padding: 3px;
}

.dynamicTable td {
    padding: 3px 2px;
}

.dynamicTable th,
.dynamicTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dynamicTable th.sorted {
    background-image: url("../images/go-up.svg");
    background-position: right 3px center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.dynamicTable th.sorted.reverse {
    background-image: url("../images/go-down.svg");
}

.dynamicTable td img.flags {
    height: 1.25em;
    vertical-align: middle;
}

.dynamicTableFixedHeaderDiv {
    overflow: hidden;
}

#logMessageTableFixedHeaderDiv,
#prop_webseeds,
#torrentTrackersTableFixedHeaderDiv,
#torrentPeersTableFixedHeaderDiv,
#torrentFilesTableFixedHeaderDiv,
#torrentsTableFixedHeaderDiv {
    border-bottom: 1px solid var(--color-border-1);
    border-left: 1px solid var(--color-border-1);
    border-right: 1px solid var(--color-border-1);
}

#torrentsTableFixedHeaderDiv {
    border-left: transparent;
}

#searchResultsTableFixedHeaderDiv,
#logMessageTableFixedHeaderDiv {
    border: 1px solid var(--color-border-1);
}

#rssArticleFixedHeaderDiv,
#rssFeedFixedHeaderDiv {
    border-bottom: 1px solid var(--color-border-1);
    border-left: 1px solid var(--color-border-1);
    border-top: 1px solid var(--color-border-1);
}

.dynamicTableDiv {
    overflow: auto;
}

.dynamicTableDiv thead th {
    height: 0 !important;
    line-height: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
